.form__email {
    max-width: 633px;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    background-color: #016450;
    padding-bottom: 17px;
    padding-top: 10px
}

.form__email[type="email"] {
    color: #ffe;
}


.form__email:focus {
    outline: none;
}

.form__email:focus + .form__label {
    color: rgba(255, 255, 255, .5);
}

#email[value]:valid + .form__label[for="email"] {
    color: rgba(255, 255, 255, .5);
}


@media screen and (max-width: 767px) {
    .form__email {
        padding-bottom: 7px;
        padding-top: 3px;
    }
}