.header {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 40px 50px 50px 50px;
    display: grid;
    grid-template-columns: 58.5% 34%;
    gap: 40px 100px;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .header {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 20px;
    }
}