.footer__contacts {
    margin-left: 212px;
    grid-column: 2/3;
    grid-row: 1/2;
}

@media screen and (max-width: 1023px) {
    .footer__contacts {
        margin-left: 164px;
    }
}

@media screen and (max-width: 767px) {
    .footer__contacts {
        margin: 0;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
}