.soda-caption_header_position {
    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (max-width: 1023px) {
.soda-caption_header_position {
    margin-bottom: 77px;
}
}

@media screen and (max-width: 767px) {
    .soda-caption_header_position {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
    }
}