.header__caption-ananas {
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 1;
    align-self: flex-end;
    justify-self: end;
    margin-right: -52px;
    margin-bottom: -37px;
}

@media screen and (max-width: 1023px) {
    .header__caption-ananas {
        margin-right: 21px;
        margin-bottom: 19px;
    }
}

@media screen and (max-width: 767px) {
    .header__caption-ananas {
        margin-right: 378px;
        margin-bottom: -41px;
        width: 98px;
    }
}

@media screen and (max-width: 400px) {
    .header__caption-ananas {
        margin-right: 5px;
        margin-bottom: -41px;
    }
}