.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 31.3% 42.5%;
    gap: 247px;
}

@media screen and (max-width: 1023px) {
    .footer {
        grid-template-columns: 25% 41.5%;
        padding-top: 120px;
        padding-bottom: 50px;
        gap: 200px;
    }
}

@media screen and (max-width: 785px) {
    .footer {
        gap: 160px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 50px;
        justify-items: center;
        padding-top: 110px;
        padding-bottom: 20px;
    }
}